    /* #318563 */
    
    body {
        /* background-image: url("../Images/prism.png"); */
    }
    
    .name {
        font-size: 10vw;
        text-align: center;
        margin-bottom: .5em;
        color: rgb(104, 104, 104);
    }
    
    .label {
        font-size: 3rem;
        color: white;
        height: 400px;
        /* background-color: white; 
        height: 5rem; 
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0; */
        text-align: center;
        opacity: .9;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    nav {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: #58AFD1;
        height: 3rem;
        opacity: .95;
        position: fixed;
        width: 100%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        z-index: 99;
    }
    
    nav a {
        margin: .5rem 1rem;
        font-size: 1.5rem;
        color: black;
        text-decoration: none;
    }
    
    .spacer {
        height: 3.5rem;
        width: 100%;
    }
    
    #grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 80%;
        margin: auto;
    }
    
    .section-label {
        width: 100%;
        /* background-color: #5474D1; */
        /* height: 5rem; */
        margin: .25%;
        /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
        /* position: relative;
        top: 40px; */
        z-index: 98;
        font-size: 15vw;
        color: black;
        padding-left: 1rem;
        padding-top: .5rem;
    }
    
    .element {
        height: 400px;
        background-color: #58D1CB;
        margin: .25%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        position: relative;
    }
    
    .screenshot {
        width: 100%;
        height: 100%;
    }
    
    .screenshotOverlay {
        /* background-color: #58D1CB; */
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    
    .screenshotOverlay:hover {
        opacity: .8;
    }
    
    .element-color-1 {
        background-color: rgb(146, 71, 62);
    }
    
    .element-color-2 {
        background-color: #3B4063;
    }
    
    .element-color-3 {
        background-color: #1C323D;
    }
    
    .element-color-4 {
        background-color: #4B79B3;
    }
    
    .elementWide {
        width: 100%;
        /* background-color: #5474D1; */
        height: 5rem;
        margin: .25%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    
    .elementSmall {
        height: 200px;
        margin: .25%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    /* phones */
    
    @media only screen and (min-width: 320px) and (max-width: 649px) {
        .element {
            width: 100%;
        }
        .elementSmall {
            width: 49.5%;
        }
        article:nth-of-type(2) {
            background: red;
        }
    }
    /* everything else */
    
    @media only screen and (min-width: 650px) {
        .element {
            width: 49.5%;
        }
        .elementSmall {
            width: calc(98.5% /3);
        }
    }